.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-image-container {
  display: block;
  max-width: 70%;
  height: auto;
  border-radius: 50%;
}

.home-logo-annievillalba {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
  transition: all 0.2s;
  animation: pulse 1.2s infinite;

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.home-logo-annievillalba.pulsing {
  animation: pulse 1.2s infinite;
}

/* Media query for laptops */
@media only screen and (min-width: 1024px) {
  .home-image-container:hover {
    cursor: pointer;
  }
}

/* Media for mobile */
@media only screen and (max-width: 480px) {
  .image-container {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 0.2s;
  }
}
